aside{
	font-family: "Mulish", sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #0b0c2a;
	color:#ffffff;
	display:block;
	width:70px;
	float:left;
	height:92%;
	margin: 70px 0 0 10px;
}
aside ul{
	list-style: none;
	display: inline-block;
}
aside li{
	list-style: none;
	text-align: center;
}
aside ul li p{
	font-size:13px;
	font-weight: bold;
}

aside ul li input[type=button]{
	width:80px;
	height: 30px;
	background-color: #f4511e;
  	border: none;
  	border-radius:5px;
  	color: white;
 	padding: 5px 10px;
  	text-align: center;
  	font-size: 11px;
  	font-weight: bold;
  	margin: 20px 0;
  	opacity: 0.6;
  	transition: 0.3s;
  	display: inline-block;
  	text-decoration: none;
  	cursor: pointer;
}
aside ul li input[type=button]:hover{
	opacity: 1;
}