.adSection{
	width:85%;
	height:90%;
	float:left;
	margin: 20px 0 0 60px;
	background-color: #e8e8e8;
}

.adSection table{
	width:100%;
	border:1px solid black;
}

.adSection tr,
.adSection td{
	border:1px solid black;
	height: 10px;
}

.adSection h1{
	color: black;
	font-size:12px;
	text-align: center;
}
.adSection h3{
	color: black;
	font-size:12px;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

.adSection select{
	font-size: 10px;
	margin-bottom: 10px;
}

.adSection .search {
    position: relative;
    text-align: center;
    width: 500px;
    height: 45px;
    margin: 0 auto;
}

.adSection .search input {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #bbb;
    margin: 10px 0;
    padding: 7px 5px;
    color: #b7b7b7;
    font-size: 10px;
}

.adSection .search a .fa-search {
    position: absolute;
    right: 15px;
    top: 17px;
    margin: 0;
}

.adSection .search a:hover{
	color:#f4511e;
}

.adSection #frm tr,
.daSection #frm td{
	font-size:10px;
	text-align: center;
}