@charset "UTF-8";

#console{
	border : 1px solid gray;
	width:550px;
	float:left;
	margin-right:20px;
	border-radius:5px;
}

#console .result{
	position:relative; 
	float:left; 
	margin-right:20px;
}

#selected {
	border : 1px solid gray;
	float:left;
	width:550px;
	background-color: #705487;
	border-radius:5px;
}

#selected #selectedList{
	list-style:none;
	position:relative;
	float:left;
	background-color: #775E8F;
}


#selected #selectedList .card{
	position:relative; 
	float:left;
	margin-right:20px;
}

#selected #selectedList .card .m_idx{
	display:none;
}

#sendButton{
	clear:both;
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	WIDTH: 80pt; HEIGHT: 30pt;
	float:left;
}
