@charset "UTF-8";

#console{
	border : 1px solid gray;
	width:600px;
	float:left;
	margin-right:15px;
	border-radius:5px;
	padding:10px;
}

#console .result{
	position:relative; 
	float:left; 
	margin-right:20px;
}

#selected {
	border : 1px solid gray;
	float:left;
	width:600px;
	background-color: #775E8F;
	border-radius:5px;
}

#selected #selectedList{
	list-style:none;
	position:relative;
	float:left;
	background-color: #775E8F;
	padding:10px;
}


#selected #selectedList .card{
	position:relative; 
	float:left;
	margin-right:20px;
}

#selected #selectedList .card .m_idx{
	display:none;
}

#buttonDiv{
	float:left;
	
}

#buttonDiv #sendButton{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	WIDTH: 80pt; HEIGHT: 30pt;
	float:left;
	border:1px solid #775E8F;
}
