@charset "UTF-8";

h2{
	color:white;
	text-align:center;
}

#writeSection{
	display: inline-block;
	align-content: center;
}

#writeSection #writeform{
	border:1px solid #775E8F;
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	font-size: 13pt;
	color:white;
	align-self: center;
}


#selected {
	border : 1px solid gray;
	float:left;
	width:1200px;
	height:400px;
	background-color: #705487;
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	padding:10px;
}

#selected #selectedList{
	list-style:none;
	position:relative;
	float:left;
	padding:0px;
}


#selected #selectedList .card{
	position:relative; 
	float:left;
	margin-right:10px;
}

#selected #selectedList .card .m_idx{
	display:none;
}


#buttonDiv1 button{
	border: 1px solid #775E8F; 
	background-color: rgba(0,0,0,0); 
	color:  #775E8F; 
	padding: 3px;
	clear:both;
	font-size:13pt;
	
}

#buttonDiv1 button:hover{
	color:white; 
	background-color: #775E8F;
}

#buttonDiv1 #Sbutton{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	WIDTH: 100pt; HEIGHT: 35pt;
	font-size:13pt;
	
}


#buttonDiv2 button{
	clear:both;
	border: 1px solid #775E8F; 
	background-color: rgba(0,0,0,0); 
	color:  #775E8F; 
	padding: 3px;
	clear:both;
	font-size:13pt;
	align-content:center;
	margin:8px;
}

#buttonDiv2 button:hover{
	color:white; 
	background-color: #775E8F;
}

#buttonDiv2 #colbutton{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	float:right;
	WIDTH: 90pt; HEIGHT: 35pt;
	font-size:13pt;
}

#buttonDiv2 #colRbutton{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	float:right;
	WIDTH: 90pt; HEIGHT: 35pt;
	font-size:13pt;
}

