@charset "UTF-8";

a { text-decoration:none !important } 


h2{
	color:white;
	text-align:center;
}

#collectionWriteButton{
	float:right; 
	right-margin:100px;
}

#collections{
	clear:both;
	width:1270px;
}

#collections .collection {
	position:relative;
	border:1px solid gray; 
	height:315px; 
	width:1270px;
	background-color: #705487;
	border-top-left-radius: 7px; 
	border-bottom-left-radius: 7px;
	border-top-right-radius: 7px; 
	border-bottom-right-radius: 7px;
	margin-left:10px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#collections .collection .col_title{
		color: white;
		font-size:15pt;
}

#collections .collection .movieCard{
	position:relative;  
	float:left; 
	margin-right:2px;
	width:115px;
	display: inline-block;
}

#collections .collection .poster{
	width:110px;
}

#collections .collection .m_title{
	text-align:center;
	width:110; 
	color:white;
	display: inline-block;
}

#buttonDiv button{
	border: 1px solid #705487; 
	background-color: rgba(0,0,0,0); 
	color: #705487; 
	padding: 3px;
	float:left;
	clear:both;
	font-size:13pt;
}

#buttonDiv button:hover{
	color:white; 
	background-color: #705487;
}

#buttonDiv #colbutton{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	float:right;
	WIDTH: 90pt; HEIGHT: 35pt;
	font-size:13pt;
}



