/*.index     main->index.jsp->section*/
.index{
	margin: 10px 0 0 0;
	min-height: 100%;
}

.index .search {
    position: relative;
    text-align: center;
}
.index .search #searchStr {
    width: 50%;
    height: 30px;
    border-radius: 25px;
    border: 1px solid #bbb;
    margin: 15px 0;
    padding: 15px 12px;
    color: #b7b7b7;
    font-size: 10px;
}

#console .result{
	position:relative; 
	float:left; 
	margin-right:20px;'
}


.index .show{
	margin-bottom:90px;
}

/*Walker추천작, 최신등록된리뷰, 현재상영작*/
.index .show,
.index .review{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom: 50px;
}
.index .show thead th,
.index .review thead th
{
	font-size: 15px;
	color:#ffffff;
	text-align:left;
	padding-bottom: 20px;
}
.index .show thead td img{
	border-radius:5px;
	display: block;
	margin: 0px auto;
}
.index .show tbody td{
	font-size: 11px;
	font-weight: bold;
	color:#ffffff;
	text-align:center;
	padding-bottom: 20px;
}
.index .review thead td{
    color: #168;
    font-size: 12px;
    background: #f0f6f9;
    text-align: center;
    padding: 5px;
    border: 1px solid #ddd;
}
.index .review tbody img{
	height:105px;
	border-radius:5px;
}
.index .review tbody td{
	padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
	color:#ffffff;
}
