/*검색*/
section{
	margin-top: 50px;
}

section .search {
    position: relative;
    text-align: center;
    width: 700px;
    height: 100px;
    margin: 0 auto;
}
section .search input {
    width: 100%;
    border-radius: 25px;
    border: 1px solid #bbb;
    margin: 15px 0;
    padding: 15px 12px;
    color: #b7b7b7;
    font-size: 15px;
}
section .search a .fa-search {
    position: absolute;
    right: 20px;
    top: 25px;
    margin: 0;
}
section .search a:hover{
	color:#f4511e;
}

table{
	margin-bottom:90px;
}

/*Walker추천작, 최신등록된리뷰, 현재상영작*/
section .show,
section .review{
	width:80%;
	margin-left:10%;
	margin-right:10%;
}
section .show thead th,
section .review thead th{
	font-size: 30px;
	color:#ffffff;
	text-align:left;
	padding-bottom: 20px;
}
section .show thead td img{
	height:350px;
	border-radius:5px;
	display: block;
	margin: 0px auto;
}
section .show tbody td{
	font-size: 20px;
	color:#ffffff;
	text-align:center;
	padding-bottom: 20px;
}
section .review thead td{
    color: #168;
    font-size: 25px;
    background: #f0f6f9;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
section .review tbody img{
	height:105px;
	border-radius:5px;
}
section .review tbody td{
	padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 20px;
	color:#ffffff;
}