.login{
	min-height: 100%;
	color:#ffffff;
	width: 100%;
	text-align:center;
}

.login ul,
.login li{
	list-style-type: none;
	padding-left:8px;
}

.login #login_box{
	width:400px;
	height:250px;
	border: solid 1px #bbbbbb;
	border-radius: 15px;
	margin: 60px auto;
	text-align:left;
}

.login #login_box h2{
	font-size: 15px;
	font-weight: bold;
	text-align:center;
	margin-bottom:25px;
	margin-top: 30px;
	padding-bottom:5px;
}

.login #id_pass input{
	width:180px;
	height: 23px;
	font-size:10px;
}

.login #id_pass, #login_btn{
	display:inline-block;
	vertical-align: top;	
}

.login #id_pass span{
	display: inline-block;
	width: 62px;
	font-size: 13px;
	margin-bottom:20px;
}

.login #pass{
	margin-top: 3px;
}

.login #login_btn input{
	margin-left: 5px;
	padding: 12px;
	border-radius: 6px;
	height: 73px;
	width: 70px;
	font-weight: bold;
	font-size: 13px;
}

.login #btns{
	margin: 18px 0 0 0;
	text-decoration: underline;
}

.login #btns li{
	margin-left: 16px;
	display: inline;
}

.login #btns input{
	width: 156px;
	height: 33px;
	border-radius: 6px;
	font-weight: bold;
	font-size: 11px;
}