section{
	min-height: 100%;
	padding-bottom:50px;
	font-family: "맑은 고딕", "돋움";
	font-size: 12px;
	color:#ffffff;
	width: 100%;
	text-align:center;
}

ul{
	list-style-type: none;
}

#login_box{
	width:700px;
	height:400px;
	border: solid 1px #bbbbbb;
	border-radius: 15px;
	padding: 10px 0 0 15px;
	margin: 0 auto;
	text-align:left;
}

h2{
	font-size: 35px;
	font-family: "Arial";
	font-weight: bold;
	text-align:center;
	margin-bottom: 50px;
	margin-top: 40px;
}

#id_pass input{
	width:220px;
	height: 36px;
}

#id_pass, #login_btn{
	display:inline-block;
	vertical-align: top;	
}

#id_pass span{
	display: inline-block;
	width: 150px;
	font-size: 27px;
	margin-bottom:20px;
}

#pass{
	margin-top: 3px;
}

#login_btn input{
	margin-left: 15px;
	padding: 12px;
	border-radius: 6px;
	height: 111px;
	width: 115px;
	font-weight: bold;
	font-size: 20px;
}

#btns{
	margin: 20px 0 0 0;
	text-decoration: underline;
}

#btns li{
	margin-left: 10px;
	display: inline;
}

#btns input{
	width: 260px;
	height: 50px;
	margin: 5px;
	border-radius: 6px;
	font-weight: bold;
	font-size: 20px;
}






