@charset "UTF-8";

h3{
	color:white;
	margin-bottom: 0px;
	text-align:center;
}

#details{
	height:350px;
	width:550px;
	float:left;
	postion:static;
	margin-right:5px;
}

#details .poster_area{
	color:gray;
	posision:relative;
	float:left;
	right-margin:0px;
}

#details .info_area{ 
	height:350px;
	text-align:left;
	padding-left:20px;
	padding-right:20px; 
	color:white;
	position:relative;
	float:left;
}

#chart_div{
	width:500px;
	height:350px;
	float:left;
	margin-right:10px;
}


#ott_area{
	height:350px;
	width:180px;
	border:1px solid gray; 
	position:relative;
	padding-left:10px;
	padding-right:10px; 
	color:gray;
	float:left;
}

#overview{
	border:1px solid gray;
	position:static;
	clear:both;
}

#overview #overview_area{
	clear:both;
		color:gray;
		text-align: left;
		margin-left:15px;
		margin-right:15px;
		position:relative;
}

#credit{
	border:1px solid gray;
	height:330px;
}

#credit #credit_area{
	list-style:none;
	position:relative;
	height:300px;
}

#credit #credit_area .director{
	position:relative;
	float:left;
	margin-right:10px;
	margin-top:10px;
	
}

#credit #credit_area .actor{
	position:relative;
	float:left;
	margin-right:10px;
	margin-top:10px;
}


#review_area{
	border:1px solid gray;
	text-align:left;
	margin:0px;
	padding:10px;
	width:1248px;
}

#review_area #rButtonDiv button{
	border: 1px solid #ff8000; 
	background-color: rgba(0,0,0,0); 
	color: #ff8000; 
	padding: 5px;
	float:right;
	align: center;
	margin-top: 5px;
}

#review_area #rButtonDiv button:hover{
	color:white; 
	background-color: #ff8000;
}

#review_area #rButtonDiv #moreReview{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	WIDTH: 90pt; HEIGHT: 40pt;
	float:right;
}


#review_area .review {
	clear:both;
	border:1px solid #ff8000;
	color:white;
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	text-align:left;
	padding:10px;
	display: inline-block;
	margin-top:10px;
	width:1200px;
}

#review_area .review .icons{
	position:relative;
	float:right;
	color:white;
	padding:5px;
	display: inline-block;
}

#collections{
	border:1px solid gray;
	color:white;
}

.info_area #buttonDiv button{
	border: 1px solid #ff8000; 
	background-color: rgba(0,0,0,0); 
	color: #ff8000; 
	padding: 5px;
	float:left;
	margin:30px;
	align: center;
}

.info_area #buttonDiv button:hover{
	color:white; 
	background-color: #ff8000;
}

.info_area #buttonDiv #reviewbutton{
	size:60px;
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	align: center;
	WIDTH: 60pt; HEIGHT: 40pt;
}


