@charset "UTF-8";

h2{
	color:white;
	text-align:center;
}

#review_area {

}

#review_area .review{
	border-top-left-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	color:white;
	position:relative;
	padding:10px;
	border:1px solid #ff8000
}


#review_area .review .icons{
	float:right;
	position:relative;
	color:white;
	border:1px solid #ff8000; 
	padding:5px;
	}
