@charset "UTF-8";

a { text-decoration:none !important;
	color:white !important;
	 } 

h2{
	color:white;
	text-align:center;
}

#review_area {
	border:1px solid gray;
	color:white;
}

#review_area .review{
	border:1px solid #ff8000; 
	margin-bottom:5px; 
	margin-left:0px;
	border-radius: 5px; 
	text-align:left; 
	padding:10px; 
	display:inline-block; 
	width:1200px;
}


#review_area .review .icons{
	position:relative; 
	float:right; 
	color:white; 
	padding:5px; 
	display: inline-block;
	}
