section{
	min-height: 100%;
	padding-bottom:50px;
	font-family: "맑은 고딕", "돋움";
	font-size: 12px;
	color:#ffffff;
	width: 100%;
	text-align:center;
}

ul{
	list-style: none;
	padding:0;	
}
#search_box{
	width:1800px;
	height:700px;
	border: solid 1px #bbbbbb;
	border-radius: 15px;
	padding: 10px 0 0 15px;
	margin: 0 auto;
	text-align:left;
}
#search_box table{
	margin:0 auto;
	width: 700px;
}

h2{
	font-size: 35px;
	font-family: "Arial";
	font-weight: bold;
	text-align:center;
	margin-bottom: 50px;
	margin-top: 40px;
}

form{
	width:49%;
	float:left;
	border-left:1px solid #ffffff;
}
#search_id input,
#search_pw input{
	width:240px;
	height: 40px;
}
#search_id, #btn,
#search_pw, #btn{
	display:inline-block;
	vertical-align: top;	
}

#search_id span,
#search_pw span{
	display: inline-block;
	width: 230px;
	font-size: 29px;
	margin:3px 0 20px 100px;
}

#btn input{
	margin:60px 30px 0 0;
	padding: 12px;
	border-radius: 6px;
	height: 70px;
	width: 200px;
	font-weight: bold;
	font-size: 23px;
}







