@charset "UTF-8";
/*nav*/
nav .menu {
	text-align: left;
	border-right: 1px solid white;
	border-bottom : 1px solid 0;
	border-top: 0px solid white;
	float: left;
	width : 350px;
}
nav ul{
	list-style: none;
	display: inline-block;
	position: relative;
	margin: 25px 80px;
	}
	
nav ul li a{
	text-decoration : none;
	font-size: 30px;
	color: #b7b7b7;
	font-weight: 700;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}
nav ul li.active a{
	background: #e53637;
	color: #ffffff;
}
nav ul li:hover a{
	list-style: none;
	color: #ffffff;
}

body { min-height: 100vh;
    .input-form { max-width: 680px; margin-top: 80px; padding: 32px;
	background: #fff; -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    float: left}
.ul{
	padding: 0px;	
}
	
	}